* {
    box-sizing: border-box;
}
.container {
    border:5px solid #53ed17;
    width: 1170px;
    margin: 0 auto;
}
.info {
    border:5px solid #d61212;
    background-color: #03251a;
}
.info__inner {
    border:5px solid #d6127e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.item {
    border:5px solid #121fd6;
    text-align: center;
}
.number {
    border:5px solid #eaee14;
    font-size: 75px;
    color: #863f05;
    font-weight: bold;
    margin-bottom: 15px;
}
.text {
    border:5px solid #e1770e;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}
